<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<!-- <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario - Zona Gamer</title>
  <link rel="preload" href="/css/normalize.css" as="style">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/css/style-agregar.css">
  <link rel="stylesheet" href="/css/style-agregar.css">
  <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/89cdafc43a.js" crossorigin="anonymous"></script>
  <link rel="preload" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.css">
</head> -->


<body>
  <!--***CABECERA****-->

  <%- include('../partials/header')%>

  <!--*** FIN CABECERA ****-->

  <!--*** CUERPO PRINCIPAL ****-->
  <main>

    <div class="contenedor_principal">

      <h2 class="titulo">Agregando Nuevo Producto</h2>

      <div class="contenedor_form">
        <div class="form_agregar_producto">
          <form action="/products/agregar" method="POST" enctype="multipart/form-data" class="formAP">
            <div>
              <i class="fa-solid fa-computer"></i>
              <label>*Nombre del Producto</label>
              <input name="name" type="text" id="signup-firstname" placeholder="Nombre nuevo del producto"
                value="<%= locals.oldData ? oldData.name : null %>" class="name">
              <% if (locals.errors && errors.name) { %>
              <div class="text-danger">
                <%= errors.name.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-solid fa-circle-info"></i>
              <label>*Descripción del Producto</label>
              <textarea name="description" rows="3" placeholder="Descrioción del nuevo producto"
                value="<%= locals.oldData ? oldData.description : null %>" class="description"
                id="description"></textarea>
            </div>
            <div>
              <i class="fa-solid fa-camera"></i>
              <label>*Imagen del Producto</label>
              <input type="file" id="imagenProducto" name="imagenProducto" accept="image/*"
                title="Seleccionar la imagen del nuevo producto" class="image">
              <% if (locals.errors && errors.imagenProducto) { %>
              <div class="text-danger">
                <%= errors.imagenProducto.msg %>
              </div>
              <% } %>
            </div>

            <div>
              <i class="fa-solid fa-list-check"></i>
              <label>*Categoría del Producto</label><br>
              <select name="category" value="<%= locals.oldData ? oldData.category : null %>">
                <option value="">Seleccionar...</option>
                <option value="1">Audio</option>
                <option value="2">Coolers</option>
                <option value="3">Discos Rigidos</option>
                <option value="4">Gabinetes</option>
                <option value="5">Memorias</option>
                <option value="6">Monitores</option>
                <option value="7">Motherboards</option>
                <option value="8">Mouses</option>
                <option value="9">Placas de Video</option>
                <option value="10">Procesadores</option>
                <option value="11">SSD</option>
                <option value="12">Teclados</option>
              </select>
              <% if (locals.errors && errors.category) { %>
              <div class="text-danger">
                <%= errors.category.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-solid fa-file-invoice-dollar"></i>
              <label>*Precio del Producto</label>
              <input name="price" type="number" id="precio-producto"
                placeholder="Detalle el precio al público, sin puntos"
                value="<%= locals.oldData ? oldData.price : null %>">
              <% if (locals.errors && errors.price) { %>
              <div class="text-danger">
                <%= errors.price.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-solid fa-percent"></i>
              <label>*Descuento del Producto</label>
              <input name="discount" type="number" id="precio-producto" placeholder="descuento por pago en efectivo"
                value="<%= locals.oldData ? oldData.discount : null %>">
              <% if (locals.errors && errors.discount) { %>
              <div class="text-danger">
                <%= errors.discount.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-solid fa-clock-rotate-left"></i>
              <label>*Garantía del Producto (meses)</label>
              <input name="warranty" type="number" id="garantia-producto"
                placeholder="Detalle los meses de garantía del producto"
                value="<%= locals.oldData ? oldData.warranty : null %>">
              <% if (locals.errors && errors.warranty) { %>
              <div class="text-danger">
                <%= errors.warranty.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-regular fa-calendar-check"></i>
              <label>*Fecha de Ingreso</label>
              <input name="date" type="date" id="signup-firstname" placeholder="Nombre nuevo del producto"
                value="<%= locals.oldData ? oldData.date : null %>">
              <% if (locals.errors && errors.date) { %>
              <div class="text-danger">
                <%= errors.date.msg %>
              </div>
              <% } %>
            </div>
            <div>
              <i class="fa-regular fa-circle-check"></i>
              <label>*Estado del Producto</label><br>
              <select name="status" value="<%= locals.oldData ? oldData.status : null %>">
                <option value="">Seleccionar...</option>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
              </select>
              <% if (locals.errors && errors.status) { %>
              <div class="text-danger">
                <%= errors.status.msg %>
              </div>
              <% } %>
            </div>

            <!-- <input class="button" id="signup-submit" type="submit" value="Agregar Nuevo Producto"> -->
            <button class="button" id="signup-submit" type="submit" value="Agregar Nuevo Producto">
              Agregar Nuevo Producto
            </button>

            <div class="errores">
              <ul></ul>
            </div>

          </form>

        </div>
        <div class="form_info">
          <header class="informacion-lateral">
            <h3>Tener en Cuenta al Agregar Productos</h3>
            <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la características más
              relevantes
              del producto que se mustrarán al público.</p>
            <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al Público del
              Producto, debe expresarlo solo numeros e incluir puntos.</p>
            <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de garantía el
              nuevo producto.</p>
            <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la características más
              relevantes
              del producto que se mustrarán al público.</p>
            <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al Público del
              Producto, debe expresarlo solo numeros e incluir puntos.</p>
            <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de garantía el
              nuevo producto.</p>
            <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de garantía el
              nuevo producto.</p>
          </header>

        </div>

      </div>

    </div>

  </main>
  <!--*** FIN CUERPO PRINCIPAL ****-->

  <!--*** FOOTER ****-->

  <%- include('../partials/footer')%>

  <!--*** FIN FOOTER ****-->

  <script src="/js/validarAP.js"></script>

</body>

</html>