<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

    <main class="contenedor">
        <h1 class="titulo__producto__dc">Detalle del Producto</h1>

        <div class="grid">

            <div class="producto">
                <a href="/products/detalle/<%= products.ID_products %>">
                    <img class="producto__imagen" src="/images/products/<%= products.image %>" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__descripcion"><%= products.description %></p>
                        <p class="producto__nombre"><%= products.name %></p>
                        <p class="producto__precio">$<%= products.price %></p>
                        <p class="producto__descuento"><%= products.discount %>% OFF <span class="span">en
                                efectivo</span></p>
                        <p class="producto__precio__final">Precio Final</p>
                        <p class="producto__precioOf">$<%= precio_final %></p>
                        <p class="producto__garantia">Garantia Oficial <%= products.warranty %> meses</p>
                    </div>
                </a>
                <form>
                    <a href="/products/editar/<%= products.ID_products %>">
                        <input class="buttonEdit" id="signup-submit" type="button" value="Editar Producto">
                    </a>
                </form>
            </div>
            <div class="producto">
                <a href="/products/detalle/<%= products.ID_products %>">
                    <img class="producto__imagen" src="/images/products/" alt="">
                    <div class="producto__informacion_dc">
                        <p class="producto__titulo__dc">Prodcuto exclusivo de<br /><span>ZONA GAMER</span>
                            <p class="producto__estado__dc"><%= estadoID[products.estado_ID_estado-1] %></p>
                            <P class="producto__codigo__dc">Código del Producto: <span
                                    class="span__cdc"><%= products.description %></span>
                            </P>
                            <p class="producto__fpago__dc">Formas de Pago:</p>
                            <p class="span__fdp">Efectivo</p>
                            <p class="span__fdp">Transferencia</p>
                            <p class="span__fdp">Tárjetas Crédito/Debito</p>
                            <p class="producto__mp__dc">Mercado Pago</p>
                            <p class="span__cuotas">Hasta 6 cuotas sin interés</p>
                            <p class="producto__legales__dc">Para poder acceder a la compra de nuestros productos debes
                                estar registrado en nuestro sitio</p>
                    </div>
                </a>
            </div>
            <div class="producto tres">
                <a href="/products/detalle/<%= products.ID_products %>">
                    <img class="producto__imagen" src="/images/extras/gamer08.jpg" alt="imagen monitor01">
                </a>
                <p>
                    <h1 class="textoZG">Disfrutá...</h1>
                </p>
                <p>
                    <h1 class="textoZG">Experimentá...</h1>
                </p>
                <p>
                    <h1 class="textoZG">Animate a Más!!!</h1>
                </p>
            </div>
            <div class="producto cuatro">
                <a href="/products/detalle/<%= products.ID_products %>">
                    <img class="producto__imagen" src="/images/extras/gamer12.jpg" alt="imagen monitor01">
                </a>
                <p>
                    <h1 class="textoZG">En Zona Gamer<br>Todo es posible</h1>
                </p>
            </div>

            <!-- <div class="imagen__extra"></div>
            <div class="imagen__extra2"></div> -->
        </div>

        <%- include('../partials/filtro')%>

    </main>

    <%- include('../partials/footer')%>

</body>

</html>