<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario - Zona Gamer</title>
  <link rel="preload" href="/css/normalize.css" as="style">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/css/style-register.css">
  <link rel="stylesheet" href="/css/style-register.css">
  <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/89cdafc43a.js" crossorigin="anonymous"></script>
  <link rel="preload" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <!--***CABECERA****-->
  <%- include('../partials/header')%>

  <!--*** FIN CABECERA ****-->

  <!--*** CUERPO PRINCIPAL ****-->
  <main>

    <section class="signup-group">
      <section class="container-titulo-form">
        <h2><span class="semi-bold">Editando Producto <i>ID: <%= producto.id %></i></span></h2>
      </section>

      <section class="form-container">
        <form action="/products/<%= producto.id %>?_method=PUT" method="POST">
          <div>
            <i class="fa-solid fa-computer"></i>
            <label>*Nombre del Producto</label>
            <input name="name" value="<%= producto.name %>" type="text" id="signup-firstname"
              placeholder="Nombre nuevo del producto">
          </div>
          <div>
            <i class="fa-solid fa-circle-info"></i>
            <label>*Descripción del Producto</label>
            <textarea name="description" rows="3" cols="53"
              placeholder="Descrioción del nuevo producto"><%= producto.description %></textarea>
          </div>
          <div>
            <i class="fa-solid fa-camera"></i>
            <label>*Imagen del Producto</label>
            <input type="file" value="<%= producto.image %>" id="imagenProducto" name="imagenProducto" accept="image/*"
              title="Seleccionar la imagen del nuevo producto">
          </div>

          <div>
            <i class="fa-solid fa-list-check"></i>
            <label>*Categoría del Producto</label><br>
            <select name="category" value="<%= producto.category %>">
              <option value="">Seleccionar...</option>
              <option value="Audio" <%= (producto.category == 'Audio')? 'selected' : '' %>>Audio</option>
              <option value="Cooler" <%= (producto.category == 'Cooler')? 'selected' : '' %>>Coolers</option>
              <option value="Disco Rigido" <%= (producto.category == 'Disco Rigido')? 'selected' : '' %>>Discos Rigidos
              </option>
              <option value="Gabinete" <%= (producto.category == 'Gabinete')? 'selected' : '' %>>Gabinetes</option>
              <option value="Memoria" <%= (producto.category == 'Memoria')? 'selected' : '' %>>Memorias</option>
              <option value="Monitor" <%= (producto.category == 'Monitor')? 'selected' : '' %>>Monitores</option>
              <option value="Motherboard" <%= (producto.category == 'Motherboard')? 'selected' : '' %>>Motherboards
              </option>
              <option value="Periferico" <%= (producto.category == 'Periferico')? 'selected' : '' %>>Periféricos
              </option>
              <option value="Placa de Video" <%= (producto.category == 'Placa de Video')? 'selected' : '' %>>Placas de
                Video</option>
              <option value="Procesador" <%= (producto.category == 'Procesador')? 'selected' : '' %>>
                Procesadores
              </option>
              <option value="SSD" <%= (producto.category == 'SSD')? 'selected' : '' %>>SSD</option>
              <option value="Teclado" <%= (producto.category == 'Teclado')? 'selected' : '' %>>Teclados</option>
            </select>
          </div>
          <div>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <label>*Precio del Producto</label>
            <input name="price" value="<%= producto.price %>" type="number" id="precio-producto"
              placeholder="Detalle el precio al público, incluir puntos">
          </div>
          <div>
            <i class="fa-solid fa-percent"></i>
            <label>*Descuento del Producto</label>
            <input name="discount" value="<%= producto.discount %>" type="number" id="precio-producto"
              placeholder="descuento por pago en efectivo">
          </div>
          <div>
            <i class="fa-solid fa-clock-rotate-left"></i>
            <label>*Garantía del Producto (meses)</label>
            <input name="warranty" value="<%= producto.warranty %>" type="number" id="garantia-producto"
              placeholder="Detalle los meses de garantía del producto">
          </div>
          <div>
            <i class="fa-regular fa-calendar-check"></i>
            <label>*Fecha de Edición</label>
            <input name="date" value="<%= producto.date %>" type="date" id="signup-firstname">
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <label>*Estado del Producto</label><br>
            <select name="status" value="<%= producto.status %>">
              <option value="">Seleccionar...</option>
              <option value="true" <%= (producto.status == true)? 'selected' : '' %>>Activo</option>
              <option value="false" <%= (producto.status == false)? 'selected' : '' %>>Inactivo</option>
            </select>
          </div>

          <input class="button" id="signup-submit" type="submit" value="Editar Producto">

        </form>

        <form action="/products/<%= producto.id %>?_method=DELETE" method="POST">
          <input class="button eliminar" id="signup-submit" type="submit" value="Eliminar Producto">
        </form>

        <p class="terminos">Al dar clic -Editar-, estás adicionando un nuevo producto al público </p>
      </section>

    </section>
    <section>
      <header class="informacion-lateral">
        <h1>Tener en Cuenta al Editar Productos</h1>
        <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la características más relevantes
          del producto que se mustrarán al público.</p><br>
        <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al Público del
          Producto, debe expresarlo solo numeros e incluir puntos.</p><br>
        <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de garantía el
          nuevo producto.</p>
      </header>
    </section>
  </main>
  <!--*** FIN CUERPO PRINCIPAL ****-->

  <!--*** FOOTER ****-->

  <%- include('../partials/footer')%>

  <!--*** FIN FOOTER ****-->
</body>

</html>