<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

    <main class="contenedor">

        <h1 class="titulo__producto">Productos Filtrados</h1>

        <div class="grid">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="producto">
                <a href="/products/detalle/<%= products[i].ID_products %>">
                    <img class="producto__imagen" src="/images/products/<%= products[i].image %>"
                        alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__descripcion"><%= products[i].description %></p>
                        <p class="producto__nombre"><%= products[i].name %></p>
                        <p class="producto__precio">$<%= products[i].price %></p>
                        <p class="producto__descuento"><%= products[i].discount %>% OFF <span class="span">en
                                efectivo</span></p>
                        <p class="producto__garantia">Garantia Oficial <%= products[i].warranty %> meses</p>
                    </div>
                </a>
            </div>

            <% } %>

            <!-- <div class="imagenI imagen__extra"></div>
            <div class="imagenP imagen__extra2"></div>
            <div class="imagenI imagen__extra3"></div>
            <div class="imagenP imagen__extra4"></div>
            <div class="imagenI imagen__extra5"></div> -->

        </div>

        <%- include('../partials/filtro')%>

    </main>

    <%- include('../partials/footer')%>

</body>

</html>