<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body>
    <!--***CABECERA****-->

    <%- include('../partials/header')%>

    <!--*** FIN CABECERA ****-->

    <!--*** CUERPO PRINCIPAL ****-->
    <main>

        <div class="contenedor_principal">

            <h2 class="titulo">Formulario de Contacto</h2>

            <div class="contenedor_form">
                <div class="form_agregar_producto">
                    <form action="#" method="GET" class="formC">
                        <div>
                            <i class="fa-regular fa-id-badge"></i>
                            <label>*Nombre</label>
                            <input type="text" id="signup-username" name="nombre" placeholder="Nombre"
                                value="<%= locals.oldData ? oldData.nombre : null %>" class="nombre">
                            <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                        </div>
                        <div>
                            <i class="fa-regular fa-id-badge"></i>
                            <label>*Apellido</label>
                            <input type="text" id="signup-username" name="apellido" placeholder="Apellido"
                                value="<%= locals.oldData ? oldData.userName : null %>" class="apellido">
                            <% if (locals.errors && errors.apellido) { %>
                            <div class="text-danger">
                                <%= errors.apellido.msg %>
                            </div>
                            <% } %>
                        </div>
                        <div>
                            <i class="fa-regular fa-id-badge"></i>
                            <label>*E-mail</label>
                            <input type="text" id="signup-username" name="correoElectronico"
                                placeholder="correoElectronico" value="<%= locals.oldData ? oldData.userName : null %>"
                                class="correo">
                            <% if (locals.errors && errors.correoElectronico) { %>
                            <div class="text-danger">
                                <%= errors.correoElectronico.msg %>
                            </div>
                            <% } %>
                        </div>

                        <div>
                            <i class="fa-solid fa-circle-info"></i>
                            <label>*Mensaje / Consulta</label>
                            <textarea name="description" rows="5" placeholder="Descrioción del nuevo producto"
                                value="<%= locals.oldData ? oldData.description : null %>" class="description"
                                id="description"></textarea>
                            <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                                <%= errors.description.msg %>
                            </div>
                            <% } %>
                        </div>

                        <button class="button" id="signup-submit" type="submit" value="Enviar">
                            Enviar
                        </button>

                        <div class="errores">
                            <ul></ul>
                        </div>

                    </form>

                    <p class="terminos">Completa todos los campos para enviar tu consulta. Te responderemos a la
                        brevedad.</p>
                </div>

                <div class="form_info">
                    <header class="informacion-lateral">
                        <h3>Tener en Cuenta al Registrarse</h3>
                        <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la
                            características más
                            relevantes
                            del producto que se mustrarán al público.</p>
                        <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al
                            Público del
                            Producto, debe expresarlo solo numeros e incluir puntos.</p>
                        <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al
                            Público del
                            Producto, debe expresarlo solo numeros e incluir puntos.</p>
                        <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de
                            garantía el
                            nuevo producto.</p>
                    </header>

                </div>

            </div>

        </div>

    </main>
    <!--*** FIN CUERPO PRINCIPAL ****-->

    <!--*** FOOTER ****-->

    <%- include('../partials/footer')%>

    <!--*** FIN FOOTER ****-->
    <script src="/js/validarR.js"></script>
</body>

</html>