<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body>

    <%- include('./partials/header')%>

    <main class="contenedor">
        <h1 class="titulo__producto">Productos Destacados</h1>



        <div class="grid">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="producto">
                <a href="/products/detalle/<%= products[i].id %>">
                    <img class="producto__imagen" src="/images/<%= products[i].image %>" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__categoria"><%= products[i].category %></p>
                        <p class="producto__nombre"><%= products[i].name %></p>
                        <p class="producto__precio">$<%= products[i].price %></p>
                        <p class="producto__descuento"><%= products[i].discount %>% OFF <span class="span">en
                                efectivo</span></p>
                        <p class="producto__garantia">Garantia Oficial <%= products[i].warranty %> meses</p>
                    </div>
                </a>
            </div>

            <% } %>

            <div class="imagen__extra"></div>
            <div class="imagen__extra2"></div>
        </div>


        <h1 class="titulo__producto">¿Que estas buscando?</h1>
        <nav class="navegacion__home">
            <ul class="sub__menu">
                <li><a href="#">Auriculares</a></li>
                <li><a href="#">Coolers</a></li>
                <li><a href="#">Discos Rigidos</a></li>
                <li><a href="#">Gabinetes</a></li>
                <li><a href="#">Memorias RAM</a></li>
                <li><a href="#">Monitores</a></li>
            </ul>
            <ul class="sub__menu2">
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Mouses</a></li>
                <li><a href="#">Placas de Video</a></li>
                <li><a href="#">Procesadores</a></li>
                <li><a href="#">SSD</a></li>
                <li><a href="#">Teclados</a></li>
            </ul>
        </nav>
        <div class="grid_2">
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Memorias RAM</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Discos Rigidos</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Placas de Video</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Mouses</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Procesadores</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Auriculares</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Monitores</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">SSD</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Motherboards</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Teclados</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Coolers</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Gabinetes</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>